* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #ffffff, #f8f5ff);
  color: #333;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  color: #5f2eea;
  margin-left: 5px;
}

nav a {
  text-decoration: none;
  color: #555;
  margin-left: 20px;
  font-size: 14px;
}

.contact-btn {
  background-color: #5f2eea;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 36px;
  line-height: 1.3;
  color: #111;
}

.hero-text h1 span {
  color: #222;
  font-weight: bold;
}

.hero-text p {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.6;
}

button {
  background: #5f2eea;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.stats {
  display: flex;
  margin-top: 30px;
}

.stats div {
  background: #f3eaff;
  margin-right: 20px;
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
}

.stats h2 {
  color: #5f2eea;
}

.hero-img img {
  width: 300px;
  border-radius: 15px;
}


.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #5f2eea;
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: background 0.3s;
}

.chat-btn:hover {
  background-color: #4a22c8;
}
