
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

.nav-btn {
  background: #111;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}


.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8%;
  flex-wrap: wrap;
  gap: 60px;
}


.left-box {
  background: #0f0f0f;
  color: #fff;
  padding: 50px;
  border-radius: 20px;
  flex: 1;
  min-width: 340px;
  max-width: 520px;
}

.left-box .small {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.left-box h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 1.3;
}

.left-box span {
  color: #00bcd4;
}

.left-box p {
  color: #ccc;
  margin-bottom: 25px;
  line-height: 1.6;
}


.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rating i {
  color: gold;
  font-size: 0.9rem;
}


.image-stack {
  position: relative;
  flex: 1;
  min-width: 360px;
  max-width: 450px;
  height: 330px; 
}

.image-stack img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.image-stack::before,
.image-stack::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #333;
  left: 0;
}

.image-stack::before {
  top: 40px;
  left: 40px;
  opacity: 0.4;
  z-index: 1;
}

.image-stack::after {
  top: 20px;
  left: 20px;
  opacity: 0.6;
  z-index: 2;
}


@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .left-box {
    padding: 40px 25px;
  }

  .image-stack {
    margin-top: 40px;
    height: 260px;
  }

  .image-stack::before {
    top: 30px;
    left: 30px;
  }

  .image-stack::after {
    top: 15px;
    left: 15px;
  }
}
